;
; Copyright © 2021 Peter Monks
;
; This Source Code Form is subject to the terms of the Mozilla Public
; License, v. 2.0. If a copy of the MPL was not distributed with this
; file, You can obtain one at https://mozilla.org/MPL/2.0/.
;
; SPDX-License-Identifier: MPL-2.0
;

{:paths ["src" "resources"]
 :deps
   {org.clojure/clojure                        {:mvn/version "1.12.0"}
    org.clojure/tools.deps                     {:mvn/version "0.21.1449"}
    org.clojure/data.json                      {:mvn/version "2.5.0"}
    slipset/deps-deploy                        {:mvn/version "0.2.2" :exclusions [org.slf4j/slf4j-nop ch.qos.logback/logback-classic]}
    com.github.pmonks/tools-convenience        {:mvn/version "1.0.157"}
    com.github.pmonks/tools-pom                {:mvn/version "1.0.139"}
    com.github.pmonks/tools-licenses           {:mvn/version "2.0.243"}
    clj-kondo/clj-kondo                        {:mvn/version "2024.09.27"}

    ; Forced versions for shit that's broken elsewhere
    org.springframework.build/aws-maven        {:mvn/version "4.8.0.RELEASE"}    ; Note: do NOT upgrade to 5.0.0.RELEASE or deps-deploy throws a ClassDefNotFoundException
;    org.owasp/dependency-check-core            {:mvn/version "11.1.0"}  ; A clusterfsck of a transitive dependency that will break in our classpath

    ; Dynamic dependencies - any time any of these changes it MUST ALSO BE CHANGED IN pbr.tasks!!
    org.apache.logging.log4j/log4j-api         {:mvn/version "2.24.1"}    ; Use log4j2 for logging, since logback has become a huge pita in recent times...
    org.apache.logging.log4j/log4j-core        {:mvn/version "2.24.1"}
    org.apache.logging.log4j/log4j-jul         {:mvn/version "2.24.1"}    ; Java utils clogging bridge
    org.apache.logging.log4j/log4j-jcl         {:mvn/version "2.24.1"}    ; Apache commons clogging bridge
    org.apache.logging.log4j/log4j-slf4j2-impl {:mvn/version "2.24.1"}    ; SLF4J clogging bridge
    org.apache.logging.log4j/log4j-1.2-api     {:mvn/version "2.24.1"}    ; log4j1 clogging bridge
;    org.slf4j/slf4j-nop                        {:mvn/version "2.0.13"}    ; Note: used for some commands invoked as sub-processes, but can't be used here or it will shadow log4j2
    jonase/eastwood                            {:mvn/version "1.4.0"}     ; Note: 1.4.2 uses a version of org.ow2.asm/asm that's incompatible with clj-kondo's dependent version
    codox/codox                                {:mvn/version "0.10.8"}
    com.github.athos/clj-check                 {:git/sha "d997df866b2a04b7ce7b17533093ee0a2e2cb729"}
    io.github.cognitect-labs/test-runner       {:git/tag "v0.5.1" :git/sha "dfb30dd"}
    com.github.liquidz/antq                    {:mvn/version "2.11.1250"}}
 :aliases
   {:build {:deps       {com.github.pmonks/pbr {:local/root "."}}
            :ns-default pbr.build}}}
